@{
    ViewBag.Title = "Passenger App";
}
<div class="jumbotron">
    <h1>Find Passenger Details<i class="fa fa-user fa-2x pull-right"></i><i class="fa fa-user fa-2x pull-right"></i></h1>
</div>
<!--Passenger Angular App-->
<passenger-details></passenger-details>